[user]
	name = Jarkko Heikkilä
	email = jarkko.heikkila@gmail.com
[color]
	ui = always
[alias]
	dc = diff --cached
	st = status
	co = checkout
	ci = commit
	di = diff
	pullff = pull --ff-only
	l = "!. ~/.githelpers && pretty_git_log"
	la = !git l --all
	r = !git l -30
	ra = !git r --all
